*{
	margin: 0;
	padding: 0;
	font-family: "arial narrow";
   
}

html {
    background: url(../img/fondo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: movimiento 20s linear infinite alternate;
}

/*ANIMACIÓN */
@keyframes movimiento{
    from{
        background-position: bottom right;
    }to{
        background-position: top left;
    }
}


.banner{
	width: 100%;
	height: 110px;
	background-color: darkcyan;
	font-size: 100px;
}


.contenedormain{
	margin-top: 40px;
	width: 65%;
	height: 400px;
	background-color: rgba(0,139,139,0.6);
	border-radius: 8px;
	border:6px;
	border-style: solid;
	border-color: black;
}

.textmain{
	font-size: 60px;
}

.pie{
	font-size: 32px;
	margin-top: 85px;
	text-align: center;
	background-color: darkcyan;
	width: 100%;
	height: 35px;
}

#tipo{
	font-size: 20px;
	width: 30%;
	height: 50px;
	border:3px;
	border-color: black;
	border-style: solid;
}
.texting{
	font-size:40px;
	color:black;
	}

.textingxd{
		font-size:30px;
	color:black;
}

#data{
	text-align: center;
	width: 40%;
	height: 40px;
	font-size: 35px;
}


#validar{
	width: 60%;
	height: 70px;
	font-size: 25px;
	color:black;
	background-color:#F97209;
	font-weight: bold;
	border:3px;
	border-color: black;
	border-style: solid;
	border-radius: 8px;
}